[submodule "vim.pack.foo.start/gitgutter"]
	path = vim.pack.foo.start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim.pack.foo.start/terminus"]
	path = vim.pack.foo.start/terminus
	url = https://github.com/wincent/terminus.git
[submodule "vim.pack.foo.start/editorconfig"]
	path = vim.pack.foo.start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim.pack.foo.start/xterm-color-table"]
	path = vim.pack.foo.start/xterm-color-table
	url = https://github.com/guns/xterm-color-table.vim.git
[submodule "vim.pack.foo.start/tagbar"]
	path = vim.pack.foo.start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim.pack.foo.start/airline"]
	path = vim.pack.foo.start/airline
	url = git@github.com:vim-airline/vim-airline.git
