[ -f /usr/bin/nm-applet ] && /usr/bin/nm-applet &

# disable touchpad while and 0.5 sec after typing
[ -f /usr/bin/syndaemon ] && /usr/bin/syndaemon -i 0.5 -d

[ -f ~/xSwipe/xSwipe.pl ] && perl ~/xSwipe/xSwipe.pl &
