set $mod1 Mod1
Set $mod2 Mod1+Ctrl
set $mod3 Mod1+Ctrl+Shift


# mouse
floating_modifier $mod1
bindsym --whole-window $mod1+button2 floating toggle


# thumb
bindsym $mod1+Escape floating toggle
bindsym $mod1+space fullscreen
bindsym $mod1+Return exec exec alacritty > /dev/null 2>&1
bindsym $mod2+Return exec exec browser > /dev/null 2>&1


# special
bindsym XF86AudioLowerVolume exec vollower
bindsym XF86AudioRaiseVolume exec volraise
bindsym XF86AudioMute exec volmute
bindsym XF86AudioMicMute exec volmutemic


# left
# $
# ;
# ,
# .
# p
# y

bindsym $mod1+at workspace number 0
bindsym $mod2+at move container to workspace number 0
bindsym $mod1+a workspace number 1
bindsym $mod2+a move container to workspace number 1
bindsym $mod1+o workspace number 2
bindsym $mod2+o move container to workspace number 2
bindsym $mod1+e workspace number 3
bindsym $mod2+e move container to workspace number 3
bindsym $mod1+u workspace number 4
bindsym $mod2+u move container to workspace number 4
bindsym $mod1+i workspace number 5
bindsym $mod2+i move container to workspace number 5

# \
bindsym $mod1+apostrophe focus parent
bindsym $mod1+q focus child
bindsym $mod3+q exit
bindsym $mod1+j focus down
bindsym $mod2+j move down
bindsym $mod1+k focus up
bindsym $mod2+k move up


# right
bindsym $mod1+f focus mode_toggle
# g
bindsym $mod3+c reload
bindsym $mod1+r mode "resize"
bindsym $mod1+l focus right
bindsym $mod2+l move right
# /

bindsym $mod1+d kill
bindsym $mod1+h focus left
bindsym $mod2+h move left
bindsym $mod1+t layout tabbed
bindsym $mod1+n layout toggle split
bindsym $mod1+s layout stacking
bindsym $mod3+s exec togglescaling
bindsym $mod1+minus scratchpad show
bindsym $mod2+minus move scratchpad

bindsym $mod1+b splitv
bindsym $mod1+m splith
# v
# z
# \


# modal
mode "resize"
{
	bindsym h resize shrink width 25px
	bindsym j resize grow height 25px
	bindsym k resize shrink height 25px
	bindsym l resize grow width 25px

	bindsym Return mode "default"
	bindsym Escape mode "default"
}

