[alias]
	co = checkout
	gup = smart-pull
	gm = smart-merge
	gl = smart-log
[user]
	name = Alexander Courtis
	email = alex@courtis.org
[core]
	excludesfile = ~/.gitignore
[push]
	default = current
[color]
	ui = always
[merge]
	renameLimit = 9999
