[alias]
	co = checkout
	gup = smart-pull
	gm = smart-merge
	gl = smart-log
[user]
	name = Alexander Courtis
	email = acourtis@atlassian.com
[core]
	excludesfile = ~/.gitignore
[push]
	default = current
[color]
	ui = auto
[merge]
	renameLimit = 9999
[diff]
	renameLimit = 9999
