* {
	font-family: Monospace;
	font-size: $FONT_SIZE_PT_BARpt;
	min-height: 0pt;
	padding: 0 0 0 0;
	border: none;
	border-radius: 0;
	transition-property: none;
	transition-duration: 0;
	box-shadow: none;
	background-image: none;
	text-shadow: none;
	-gtk-icon-effect: none;
	-gtk-icon-shadow: none;
}

window#waybar {
	color: #$BASE16[dark_foreground];
	background-color: #$BASE16[lighter_background];
}

#tags button {
	color: #$BASE16[lighter_background];
	background-color: #$BASE16[lighter_background];
	padding-left: 2pt;
	padding-right: 2pt;
}

#tags button:hover {
	color: #$BASE16[light_foreground];
	background-color: #$BASE16[selection_background];
}

#tags button.occupied {
	color: #$BASE16[dark_foreground];
}

#tags button.focused {
	color: #$BASE16[light_foreground];
	background-color: #$BASE16[selection_background];
}

#tags button.urgent {
	color: #$BASE16[lighter_background];
	background-color: #$BASE16[dark_foreground];
}

#layout {
	color: #$BASE16[light_foreground];
	background-color: #$BASE16[selection_background];
}

#window.focused {
	color: #$BASE16[light_foreground];
	background-color: #$BASE16[selection_background];
}

#clock {
	color: #$HL_FG;
}
