/*
00  #000000  Default Background
01  #303030  Lighter Background (Used for status bars)
02  #505050  Selection Background
03  #b0b0b0  Comments, Invisibles, Line Highlighting
04  #d0d0d0  Dark Foreground (Used for status bars)
05  #e0e0e0  Default Foreground, Caret, Delimiters, Operators
06  #f5f5f5  Light Foreground (Not often used)
07  #ffffff  Light Background (Not often used)
red
08  #fb0120  Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
orange
09  #fc6d24  Integers, Boolean, Constants, XML Attributes, Markup Link Url
yellow
0A  #fda331  Classes, Markup Bold, Search Text Background
green
0B  #a1c659  Strings, Inherited Class, Markup Code, Diff Inserted
cyan
0C  #76c7b7  Support, Regular Expressions, Escape Characters, Markup Quotes
blue
0D  #6fb3d2  Functions, Methods, Attribute IDs, Headings
magenta
0E  #d381c3  Keywords, Storage, Selector, Markup Italic, Diff Changed
brown
0F  #be643c  Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
 */

* {
	font-family: Monospace;
	font-size: ${FONT_SIZE_PT}pt;
	min-height: 15pt;
	padding: 0 0 0 0;
	border: none;
	border-radius: 0;
	transition-property: none;
	transition-duration: 0;
}

window#waybar {
	color: #d0d0d0;
	background-color: #303030;
}

/* left */
#tags {
	margin-right: 11pt;
}

#tags button {
	color: #303030;
	background-color: #303030;
	padding-left: 2pt;
	padding-right: 2pt;
}

#tags button:hover {
	color: #f5f5f5;
	background-color: #505050;
	box-shadow: 0 1px rgba(255, 255, 255, 0) inset;
	background-image: none;
	text-shadow: none;
	transition-timing-function: ease;
	-gtk-icon-effect: none;
	-gtk-icon-shadow: none;
}

#tags button.occupied {
	color: #d0d0d0;
}

#tags button.focused {
	color: #f5f5f5;
	background-color: #505050;
}

#tags button.urgent {
	color: #303030;
	background-color: #d0d0d0;
}

#window {
	color: #f5f5f5;
	padding-left: 6pt;
	padding-right: 6pt;
	margin-right: 11pt;
}

#window.focused {
	background-color: #505050;
}

/* right */
#custom-slstatus {
	color: #d0d0d0;
	background-color: #303030;
	margin-right: 6pt;
}

#tray {
	margin-right: 4pt;
}

