# ps5 bluetooth
ATTRS{name}=="DualSense Wireless Controller Touchpad", ENV{LIBINPUT_IGNORE_DEVICE}="1"
ATTRS{name}=="DualSense Wireless Controller Motion Sensors", ENV{LIBINPUT_IGNORE_DEVICE}="1"
# ps5 wired
ATTRS{name}=="Sony Interactive Entertainment DualSense Wireless Controller Touchpad", ENV{LIBINPUT_IGNORE_DEVICE}="1"
ATTRS{name}=="Sony Interactive Entertainment DualSense Wireless Controller Motion Sensors", ENV{LIBINPUT_IGNORE_DEVICE}="1"
