[Desktop Entry]
Name=Browser
Exec=b %U
MimeType=inode/directory;application/ogg;application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;audio/aac;audio/ac3;audio/basic;audio/mp4;audio/flac;audio/mpeg;audio/ogg;audio/webm;audio/x-ape;audio/x-flac;audio/x-mp3;audio/x-mpeg;audio/x-musepack;audio/x-opus+og;audio/x-opus+ogg;audio/x-speex+ogg;audio/x-vorbis+og;image/avif;image/bmp;image/gif;image/heif;image/jpeg;image/jxl;image/openraster;image/png;image/svc;image/svg+xml-compressed;image/svg+xml;image/webp;text/html;text/xml;video/mpeg;video/ogg;video/webm;x-scheme-handler/about;x-scheme-handler/chrome;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;x-scheme-handler/mailto;x-scheme-handler/unknown;x-scheme-handler/webcal;audio/3gpp;audio/3gpp2;audio/AMR;audio/AMR-WB;audio/dv;audio/eac3;audio/midi;audio/mp1;audio/mp2;audio/mp3;audio/mpg;audio/vorbis;audio/wav;video/avi;video/mp4;video/mpg;
