[Unit]
Description=key remapping daemon - quiet

[Service]
Type=simple
# ignore unsupported evdev code from game controllers etc.
ExecStart=/usr/local/bin/keyd-quiet.sh

[Install]
WantedBy=multi-user.target
