[Unit]
Description=key remapping daemon - quiet

[Service]
Type=simple
# suppress the annoying "ERROR: unsupported evdev code:" from devices like PS5 controller
Environment="KEYD_DEBUG=-1"
ExecStart=/usr/bin/keyd

[Install]
WantedBy=multi-user.target
