:root {
    --font-size: 16px;
    --font-size-hints: 16px;
    --font-size-url: 14px;
    --font-size-hud: 14px;
    --font-size-source: 11px;

    --font-weight: normal;
    --font-weight-medium: medium;
    --font-weight-bold: bold;

    --font: sans-serif; /* Font used in the UI */
    --font-hints: monospace;
    --font-url: monospace;
    --font-search: monospace;
	--font-hud: monospace;
  
    --padding: 2px;
    --padding-vomnibar: 6px;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

/* -------- VOMNIBAR & HUD -------- */
    --fg: #$BASE16[default_foreground];
    --fg-dark: #$BASE16[comments];
    --fg-url: #$BASE16[blue];
	--fg-title: #$BASE16[magenta];
    --fg-match: #$BASE16[orange];
    --fg-source: #$BASE16[brown];
    --fg-hud: #$BASE16[default_background];
    --fg-hud-search: #$BASE16[default_background];

    --bg: #$BASE16[default_background];
    --bg-searcharea: #$BASE16[lighter_background];
    --bg-selected: #$BASE16[selection_background];
    --bg-hud: #$BASE16[blue];
    --bg-hud-search: #$BASE16[yellow];

    --border: #$BASE16[default_foreground];
	--border-hud: #$BASE16[default_background];

/* -------- HINTS -------- */
    --bg-hints: #$BASE16[bright_yellow];      /* Background color of link hints */
    --border-hints: #$BASE16[default_background];  /* Border color of link hints */
    --fg-hints: #$BASE16[default_background];      /* Text color of link hints, (don't forget to change `#vimiumHintMarkerContainer div > .matchingCharacter ~ span`) */
}

/* --------------------------------- CSS --------------------------------- */

/* -------- HINTS -------- */
#vimiumHintMarkerContainer div.internalVimiumHintMarker, #vimiumHintMarkerContainer div.vimiumHintMarker {
    background: var(--bg-hints);
    border: 1px solid var(--border-hints);
    box-shadow: var(--shadow);
    padding: 0px 2px;
}

#vimiumHintMarkerContainer div span {
    color: var(--fg-hints);
    font-family: var(--font-hints);
    font-size: var(--font-size-hints);
    font-weight: var(--font-weight-bold);
    text-shadow: none;
}

#vimiumHintMarkerContainer div > .matchingCharacter {
    opacity: 0;
}

#vimiumHintMarkerContainer div > .matchingCharacter ~ span {
    color: var(--fg-hints);
}

/* -------- VOMNIBAR -------- */
#vomnibar {
    animation: show 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
    background: var(--bg);
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
    border-radius: 5px;
}

/* Animate Slide in */
@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#vomnibar .vomnibarSearchArea,
#vomnibar input {
    /* ALTERNATE BACKGROUND COLOR:
    background: transparent; */
    background: var(--bg-searcharea);
    border: none;
    box-shadow: none;
    color: var(--fg);
    font-family: var(--font-search);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

#vomnibar .vomnibarSearchArea {
    padding: 8px 30px;
    border-radius: 6px;
}

#vomnibar input {
    border: none;
    padding: var(--padding);
}

#vomnibar ul {
    background: var(--bg);
    border-top: 1px solid var(--border);
    margin: 0;
    padding: var(--padding-vomnibar);
}

#vomnibar li {
    border-bottom: none;
    padding-top: 8px;
    padding-left: var(--padding-vomnibar);
    padding-right: var(--padding-vomnibar);
    padding-bottom: 8px;
}

#vomnibar li .vomnibarTopHalf {
    padding: var(--padding);
}

#vomnibar li .vomnibarBottomHalf {
    padding-top: 0px;
    padding-bottom: 1px;
}

#vomnibar li .vomnibarSource {
    color: var(--fg-source);
    font-family: var(--font);
    font-size: var(--font-size-source);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase; /* `.vomnibarSource` will be in all uppercase letters. Delete to revert to original */
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
    color: var(--fg-title);
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: var(--font-weight-medium);
}

#vomnibar li .vomnibarUrl {
    color: var(--fg-url);
    font-family: var(--font-url);
    font-size: var(--font-size-url);
    font-weight: var(--font-weight-medium);
}

#vomnibar li .vomnibarMatch {
    color: var(--fg-match);
    font-weight: bold;
}

#vomnibar li .vomnibarTitle .vomnibarMatch {
    color: var(--fg-match);
    font-weight: bold;  
}

#vomnibar li.vomnibarSelected {
    background-color: var(--bg-selected);
    border-radius: 3px;
}

/* #vomnibar li.vomnibarSelected .vomnibarUrl { /1* Changes '.vomnibarURL' to '--fg-match' when selected *1/ */
/*     color: var(--fg-match); */
/* } */

/* #vomnibar li.vomnibarSelected .vomnibarMatch {  /1* Changes '.vomnibarMatch' to '--fg' when selected *1/ */
/*     color: var(--fg); */
/* } */

/* -------- HUD -------- */
div.vimiumHUD {
    background: var(--bg-hud);
    border: 1px solid var(--border-hud);
    box-shadow: var(--shadow);
    border-radius: 6px;
}

div.vimiumHUD span#hud-find-input,
div.vimiumHUD .vimiumHUDSearchAreaInner {
    color: var(--fg-hud);
    font-family: var(--font-hud);
    font-size: var(--font-size-hud);
    font-weight: var(--font-weight-bold);
}

div.vimiumHUD span#hud-find-input {
    color: var(--fg-hud-search);
	font-weight: var(--font-weight);
}

div.vimiumHUD .hud-find {
	background-color: var(--bg-hud-search);
    border: none;
}

div.vimiumHUD .vimiumHUDSearchArea {
    background-color: transparent;
    padding: 1px;
}

div.vimiumHUD span#hud-match-count {
	color: #$BASE16[selection_background];
	font-weight: var(--font-weight);
}

/* -------- HELP DIALOG -------- */
div#vimiumHelpDialog {
  border: 1px solid var(--border);
  border-radius: 5px;
  background: var(--bg);
  font-family: var(--font);
  font-size: var(--font-size);
}

span#vimiumTitle {
  color: var(--fg);
}

a:link.vimiumHelDialogLink, 
a:visited.vimiumHelDialogLink, 
a:hover.vimiumHelDialogLink, 
a:active.vimiumHelDialogLink,
a#toggleAdvancedCommands {
  color: var(--fg-url);
  font-family: var(--font);
  font-size: var(--font-size);
}

span.vimiumHelpDialogKey {
  background-color: var(--bg-hints);
  border: 1px solid var(--border-hints);
  box-shadow: var(--shadow);
  padding: 0px 1px;
  color: var(--fg-hints);
  font-family: var(--font-hints);
  font-size: var(--font-size-hints);
  font-weight: var(--font-weight-bold);
  text-shadow: none;
}

td.vimiumHelpSectionTitle, td.vimiumHelpDescription {
  color: var(--fg);
  font-family: var(--font);
}

div.vimiumColumn {
  color: var(--fg);
  font-family: var(--font);
}
