:root {
    --font-size: 14;
    --font-size-hints: 12;
    --font-size-url: 12;

    --font-weight: normal;
    --font-weight-medium: medium;
    --font-weight-bold: bold;

    --font: "Helvetica Neue", "Helvetica", "Arial", sans-serif; /* Font used in the UI */
  
    --padding: 2px;
    --padding-vomnibar: 6px;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

/* -------- VOMNIBAR & HUD -------- */
    --fg: #FFFFFF;
    --fg-dark: #ffffff65;
    --fg-url: #84BFFA; 
    --fg-match: #d4e7ff;
    /* ALTERNATIVE `--fg-match' COLOR: 
    --fg-match: #F29A4A; */

    --bg: #2A2A2E;
    --bg-searcharea: #222225;
    --bg-selected: #2165D9;

    --border: #404046;

/* -------- HINTS -------- */
    --bg-hints: #FFD752;      /* Background color of link hints */
    --border-hints: #F4CA46;  /* Border color of link hints */
    --fg-hints: #000000;      /* Text color of link hints, (don't forget to change `#vimiumHintMarkerContainer div > .matchingCharacter ~ span`) */
}

/* --------------------------------- CSS --------------------------------- */

/* -------- HINTS -------- */
#vimiumHintMarkerContainer div.internalVimiumHintMarker, #vimiumHintMarkerContainer div.vimiumHintMarker {
    background: var(--bg-hints);
    border: 1px solid var(--border-hints);
    box-shadow: var(--shadow);
    padding: 2px 3px;
}

#vimiumHintMarkerContainer div span {
    color: var(--fg-hints);
    font-family: var(--font);
    font-size: var(--font-size-hints);
    font-weight: var(--font-weight-bold);
    text-shadow: none;
}

#vimiumHintMarkerContainer div > .matchingCharacter {
    opacity: 0.3;
}

#vimiumHintMarkerContainer div > .matchingCharacter ~ span {
    color: var(--hints-main-fg);
}

/* -------- VOMNIBAR -------- */
#vomnibar {
    animation: show 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
    background: var(--bg);
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
    border-radius: 5px;
}

/* Animate Slide in */
@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#vomnibar .vomnibarSearchArea,
#vomnibar input {
    /* ALTERNATE BACKGROUND COLOR:
    background: transparent; */
    background: var(--bg-searcharea);
    border: none;
    box-shadow: none;
    color: var(--fg);
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

#vomnibar .vomnibarSearchArea {
    padding: 8px 30px;
    border-radius: 6px;
}

#vomnibar input {
    border: none;
    padding: var(--padding);
}

#vomnibar ul {
    background: var(--bg);
    border-top: 1px solid var(--border);
    margin: 0;
    padding: var(--padding-vomnibar);
}

#vomnibar li {
    border-bottom: none;
    padding-top: 8px;
    padding-left: var(--padding-vomnibar);
    padding-right: var(--padding-vomnibar);
    padding-bottom: 8px;
}

#vomnibar li .vomnibarTopHalf {
    padding: var(--padding);
}

#vomnibar li .vomnibarBottomHalf {
    padding-top: 0px;
    padding-bottom: 1px;
}

#vomnibar li .vomnibarSource {
    color: var(--fg-dark);
    font-family: var(--font);
    font-size: 12;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase; /* `.vomnibarSource` will be in all uppercase letters. Delete to revert to original */
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
    color: var(--fg);
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: var(--font-weight-medium);
}

#vomnibar li .vomnibarUrl {
    color: var(--fg-url);
    font-family: var(--font);
    font-size: var(--font-size-url);
    font-weight: var(--font-weight-medium);
}

#vomnibar li .vomnibarMatch {
    color: var(--fg-match);
    font-weight: normal;
}

#vomnibar li .vomnibarTitle .vomnibarMatch {
    color: var(--fg);
    font-weight: bold;  
}

#vomnibar li.vomnibarSelected {
    background-color: var(--bg-selected);
    border-radius: 3px;
}

#vomnibar li.vomnibarSelected .vomnibarUrl { /* Changes '.vomnibarURL' to '--fg-match' when selected */
    color: var(--fg-match);
}

#vomnibar li.vomnibarSelected .vomnibarMatch {  /* Changes '.vomnibarMatch' to '--fg' when selected */
    color: var(--fg);
}

/* -------- HUD -------- */
div.vimiumHUD {
    background: var(--bg);
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
    border-radius: 6px;
}

div.vimiumHUD span#hud-find-input,
div.vimiumHUD .vimiumHUDSearchAreaInner {
    color: var(--fg);
    font-family: var(--font);
    font-size: 13;
    font-weight: var(--font-weight-medium);
}

div.vimiumHUD .hud-find {
    background-color: transparent;
    border: none;
}

div.vimiumHUD .vimiumHUDSearchArea {
    background-color: transparent;
    padding: 6px;
}

/* -------- HELP DIALOG -------- */
div#vimiumHelpDialog {
  border: 1px solid var(--border);
  border-radius: 5px;
  background: var(--bg-searcharea);
  font-family: var(--font);
  font-size: var(--font-size);
}

span#vimiumTitle {
  color: var(--fg);
}

a:link.vimiumHelDialogLink, 
a:visited.vimiumHelDialogLink, 
a:hover.vimiumHelDialogLink, 
a:active.vimiumHelDialogLink,
a#toggleAdvancedCommands {
  color: var(--fg-url);
  font-family: var(--font);
  font-size: var(--font-size);
}

span.vimiumHelpDialogKey {
  background-color: var(--bg-hints);
  border: 1px solid var(--border-hints);
  box-shadow: var(--shadow);
  padding: 2px 3px;
  color: var(--fg-hints);
  font-family: var(--font);
  font-size: var(--font-size-hints);
  font-weight: var(--font-weight-bold);
  text-shadow: none;
}

td.vimiumHelpSectionTitle, td.vimiumHelpDescription {
  color: var(--fg);
  font-family: var(--font);
}

div.vimiumColumn {
  color: var(--fg);
  font-family: var(--font);
}
